body{
    font-family: 'Ubuntu', sans-serif;
}

.cabecalho{
    background: rgb(219, 223, 219);
    padding: 20px;
}

.logo{
    width: 100px;
    margin-left: 20px;
}

.nome-academia{
    text-align: center;
}

h2{
    font-weight: bold;
    position: absolute;
    font-size: 30px;
}

nav{
    /*Para possibilitar que o nav fique ao lado da logo*/
    position: absolute;
    top:110px;
    right: 0;
    margin-bottom: 10px;
}

nav li{
    /*Para alinhar a lista e não deixa-la uma lista com itens um encima do outro*/
    display: inline;
    /*Para a separação entre os ítens fique maior*/
    margin: 20px 20px 20px 15px;

}

nav a{
    /*Para deixar o menu com letras maiúsculas*/
    text-transform: uppercase;
    color: #070502;
    /*Para deixar o menu com letras em negrito*/
    font-weight: bold;
    font-size: 22px;
    /*Para tirar o sublinhado*/
    text-decoration: none;
}

form{
    margin: 40px  0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(238, 132, 32);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border:none;
    border-radius:5px;
    transition: 1s;
    cursor: pointer;
}

.enviar:hover{
    background: rgb(235, 14, 14);
    transform: scale(1.1);
}

table{
    margin: 20px 0 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

form{
    padding-left: 40px;
}